{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&family=Russo+One&display=swap" rel="stylesheet">
</head>



<body class="page-reg">
    <main class="reg-page">
      <form method="post">
        {% csrf_token %}
        <h1>Вход</h1>
        <p>С возвращением, герой</p>

        <div class="username">
          {{ form.username }}
          {% if form.username.errors %}
            <div class="form-error">{{ form.username.errors.0 }}</div>
          {% endif %}
        </div>

        <div class="password">
          {{ form.password }}
          {% if form.password.errors %}
            <div class="form-error">{{ form.password.errors.0 }}</div>
          {% endif %}
        </div>

        <button type="submit">Продолжить</button>

          <p class="switch-auth-text">
            Нет аккаунта?
            <a href="{% url 'accounts:signup' %}" class="switch-auth-link">Зарегистрироваться</a>
          </p>

      </form>
    </main>
</body>
